@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h2{
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
}

.container{
    overflow: hidden;
    display: flex;
    margin: 8em 16em;
    border-radius: 5px;
}

.card{
    padding: 3em;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.card p{
    font-family: 'Lexend Deca', sans-serif;
    color:hsla(0, 0%, 100%, 0.75)   ;
    margin-bottom: 2em;
    font-weight: 400;
}

.container .sedans{
    background: hsl(31, 77%, 52%);
}

.sedans button {
    color:hsl(31, 77%, 52%);
}

.container .suvs{
    background: hsl(184, 100%, 22%);
}

.container .luxury{
    background: hsl(179, 100%, 13%);
}

.container .images-design{
    width: 4em;
}

.container .text-doc{
    text-transform: uppercase;
    color: white;
    
}
.container .button-design{
    
    background-color: white;
    width: 100px;
    border-radius: 20px;
    border: 1.5px solid white;
    cursor: pointer;
    padding: 0.6em 0.3em;
    outline: none;
}

.container .button-design:hover{
    background: transparent;
    color: white;
}

@media (max-width:768px) {
    .container{
        flex-direction: column;
    }
}