*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    /* justify-content: center; */
    min-height: 100vh;
    background: hsl(225, 100%, 94%);
    
}

.bg-image{
    /* background-repeat: no-repeat; */
    
    width: 100%;
    height: 20em;
    
    /* min-height: 100vh; */
    
}

.main{
    width: 28em;
    /* height: 20em; */
    background-color: red;
    /* display: grid; */
    justify-content: center;
    align-items: center;
    margin: -22em 20em;

}

.img-hero{
    
}